<section class="feedbacks">
  <div class="container">
    
    <h2 class="reviews-title">Що говорять наші клієнти</h2>
            
      <ul class="reviews-list">

        <li class="review-item">
          <div class="reviews-card">                
            <div class="star">
                
              <svg class="star-icon" width="20" height="20">
                <use href="/img/icons.svg#icon-star-fillled"></use>                            
              </svg>
              <svg class="star-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-star-fillled"></use>                            
              </svg>
              <svg class="star-icon" width="20" height="20">
                <use href="/img/icons.svg#icon-star-fillled"></use>                            
              </svg>
              <svg class="star-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-star-fillled"></use>                            
              </svg>
              <svg class="star-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-star-fillled"></use>                            
              </svg>
            </div>

              <p class="review-text">Сумка дуже зручна та стильна, використовую щодня!</p>
              <p class="review-author">Анна</p>

          </div>
        </li>

        <li class="review-item">
          <div class="reviews-card">                
            <div class="star">
              
              <svg class="star-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-star-fillled"></use>                            
              </svg>
              <svg class="star-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-star-fillled"></use>                            
              </svg>
              <svg class="star-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-star-fillled"></use>                            
              </svg>
              <svg class="star-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-star-fillled"></use>                            
              </svg>
              <svg class="star-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-star-fillled"></use>                            
              </svg>
            </div>

              <p class="review-text">Відмінна якість матеріалів, приємно здивована.</p>
              <p class="review-author">Ігор</p>
              
          </div>
        </li>

        <li class="review-item">
          <div class="reviews-card">                
            <div class="star">

              <svg class="star-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-star-fillled"></use>                            
              </svg>
              <svg class="star-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-star-fillled"></use>                            
              </svg>
              <svg class="star-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-star-fillled"></use>                            
              </svg>
              <svg class="star-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-star-fillled"></use>                            
              </svg>
              <svg class="star-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-star-fillled"></use>                            
              </svg>
            </div>

                <p class="review-text">Сумка повністю відповідає опису, рекомендую!</p>
                <p class="review-author">Олена</p>

            </div>
          </li>

          <li class="review-item">
            <div class="reviews-card">                
              <div class="star">

                <svg class="star-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-star-fillled"></use>                            
                </svg>
                <svg class="star-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-star-fillled"></use>                            
                </svg>
                <svg class="star-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-star-fillled"></use>                            
                </svg>
                <svg class="star-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-star-fillled"></use>                            
                </svg>
                <svg class="star-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-star"></use>                            
                </svg>
              </div>

                    <p class="review-text">Швидка доставка та гарне обслуговування.</p>
                    <p class="review-author">Сергій</p>

            </div>
          </li>
      </ul>
  </div>
</section>