<section class="header">
  <div class="container header-conteyner">
    <a class="header-logo" href="./index.html"
      ><svg class="header-logo-svg" width="84" height="36">
        <use href="img/icons.svg#icon-logo"></use></svg></a
    ><!-- logo -->
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="#about">Про нас</a>
        </li>
        <li class="header-list">
          <a class="header-link" href="#advantages">Переваги</a>
        </li>
        <li class="header-list">
          <a class="header-link" href="#assortment">Асортимент</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#gallery">Галерея</a>
        </li>
        <li class="header-list">
          <a class="header-link" href="#feedbacks">Відгуки</a>
        </li>
        <li class="header-list">
          <a class="header-link" href="#support">Контакти</a>
        </li>
      </ul>
    </nav>
    <address class="header-address">
      <ul class="header-list-address">
        <li class="header-item-address">
          <a class="header-tel" href="tel:+380999091122">+38 (099) 909 11 22</a>
        </li>
        <li class="header-item-address">
          <a class="header-email" href="mailto:hello@ecotote.com"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>
    <button class="btn-burger" type="button" data-menu-open>
      <svg class="burger-icon" width="32" height="32">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</section>
