<section class="hero">
  <div class="container">
    <div class="hero-wrapper">
    <h1 class="hero-text">EcoTote — Стиль, що не шкодить планеті.</h1>
    <div class="hero-wrapper-text">
    <p class="hero-desription">Екологічні сумки для тих, хто дбає про майбутнє. 
      Обирайте стиль та відповідальність разом з EcoTote.</p>
      <a class="hero-link" href="#assortment">Купити зараз</a>
    </div>
    </div>
      <picture>
       <source media="(min-width: 1440px)" srcset="./images1x, ./images2x">
       <source media="(min-width: 768px)" srcset="./images1x, ./images2x">
       <source media="(max-width: 320px)" srcset="./images1x, ./images2x">
       <img src="./images" 
            class="hero-img"
            alt="photo of different bags"
            width="288"
            height="285">
       </picture>
  </div>
</section>
