.about {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/about-mobile@1x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 64px 16px;
    width: 100%;
    min-height: 348px;
    display: flex;
    align-items: center; 
}


@media (min-resolution: 192dpi) {
    .about {
        background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/about-mobile@2x.jpg');
    }
}

     .about-all {
    max-width: 100%;    
}


.about-text-one {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    margin-bottom: 12px;
}

.about-text-two {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;

}

.about-description {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #fff;
}



@media screen and (min-width: 768px) {
    .about {
        background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/about-tablet@1x.jpg');
        padding: 80px 32px;
        min-height: 325px;
    }

    .about-text-one {
        margin-bottom: 16px;
    }

    .about-text-two {
        margin-bottom: 24px;
    }

    .about-description {
        font-size: 18px;
        max-width: 573px;
    }

}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
.about {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/about-tablet@2x.jpg');
  }
}




@media screen and (min-width: 1440px) {
    .about {
        background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/about-tablet@1x.jpg');
        padding: 112px 64px;
        min-height: 462px;
    }

    .about-text-two {  
        font-size: 56px;
        max-width: 629px;
    }
}


@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
.about {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/about-desktop@2x.jpg');
  }
}  