.advantages {
  background-color: #ebf8ed;
  padding: 32px 16px;
}
.advantages-container {
  display: flex;
  flex-direction: column;
}

.advantages-block-text {
  margin-bottom: 48px;
}
.advantages-subtitle {
  margin-bottom: 12px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #030a06;
}
.advantages-title {
  margin-bottom: 20px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #030a06;
}
.advantages-text {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.advantages-item {
  max-width: 288px;
}
.advantages-picture {
  margin-bottom: 8px;
  border-radius: 32px;
}
.advantages-item-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #030a06;
  margin-bottom: 24px;
}
.advantages-item-text {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding: 0 32px;
  }

  .container {
    max-width: 768px;
  }

  .advantages-container {
    padding: 64px 0;
    max-width: 768px;
  }

  .advantages-subtitle {
    margin-bottom: 16px;
  }

  .advantages-block-text {
    margin-bottom: 32px;
    max-width: 768px;
  }

  .advantages-title {
    margin-bottom: 24px;
  }

  .advantages-text {
    max-width: 100%;
  }

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px 24px;
    justify-content: center;
    align-items: stretch;
  }

  .advantages-picture {
    flex-shrink: 0;
    margin-bottom: 32px;
  }

  .advantages-item {
    max-width: 340px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .advantages-list {
    justify-content: center;
  }

  .advantages-accent {
    max-width: unset;
  }

  .advantages-item-title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .advantages-list .advantages-item:nth-child(2) .advantages-item-title {
    height: 68px;
  }
}

@media screen and (min-width: 1440px) {
  .advantages-block-text {
    margin-left: unset;
  }

  .advantages-container {
    max-width: 1440px;
  }

  .advantages {
    padding-left: 64px;
    padding-right: 64px;
  }

  .advantages-title {
    font-size: 48px;
  }

  .advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: unset;
  }

  .advantages-item-title {
    max-width: unset;
    font-size: 32px;
    height: 90px;
    margin-bottom: 24px;
  }
  .advantages-item-text {
    max-width: unset;
  }

  .advantages-block-text {
    margin-bottom: 80px;
  }
  .advantages-item {
    max-width: 421px;
    flex-direction: row;
    flex-wrap: wrap;

    width: calc((100% - 48px) / 3);
  }

  .advantages-block-text {
    max-width: 768px;
  }

  .advantages-text {
    max-width: 768px;
  }
  .advantages-list .advantages-item:nth-child(2) .advantages-item-title {
    height: unset;
  }
}
