.advantages-container {
  display: flex;
  flex-direction: column;

  padding: 64px 32px;
}

.advantages-block-text {
}
.advantages-subtitle {
  margin-bottom: 12px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #030a06;
}
.advantages-title {
  margin-bottom: 20px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #030a06;
}
.advantages-text {
  margin-bottom: 48px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
}
.advantages-block-list {
}
.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.advantages-item {
  max-width: 422px;
}
.advantages-picture {
  margin-bottom: 32px;
}
.advantages-item-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #030a06;
  margin-bottom: 24px;
}
.advantages-item-text {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    flex-direction: row;
  }
}

@media screen and (min-width: 1158px) {
}
