.conteiner {
}

.assortment-goods-bag {
  display: flex;
  flex-wrap: wrap;
  gap: 64px 24px;
}



ul {
  list-style: none;
}

.assortment-button {
  height: 40px;
  width: 310px;
  padding: 8px 20px;
}

.assortment-title {
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
}

.assortment-card-bag {
  max-height: 100%;
}
.assortment {
  padding: 64px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
}
