.assortment{
  background-color: #ebf8ed;
  padding: 32px 0;
}

.assortment-conteiner{
  padding: 0 16px;
 }

 .assortment-title{
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 32px;
  
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #030a06;
 }
 .assortment-card-bag img{
  display: block;
  border-radius: 32px;
  width: 288px;
  height: 345px;
 }

 .assortment-button{
  border: 1px solid #030a06;
  border-radius: 6px;
  padding: 8px 20px;
  width: 288px;
  height: 40px;
 }
 .assortment-card-bag{
  width: 288px;
  height: 530px;
  min-width: 200px;
 }
 .assortment-card-bag p{
  font-family: "Fira Sans", sans-serif;
font-weight: 400;
font-size: 14px;

/* line-height: 22px; */ 
line-height: 160%;
text-align: center;
color: #030a06;
 }

 .assortment-card-bag h3{
  font-family: "Fira Sans", sans-serif;
font-weight: 600;
font-size: 18px;

/* line-height: 29px; */ 
line-height: 160%;
text-align: center;
color: #030a06;
 }
 
 .assortment-card-title{
  font-family: "Fira Sans", sans-serif;
font-weight: 600;
font-size: 18px;

/* line-height: 29px; */ 
line-height: 160%;
text-align: center;
color: #030a06;
 }
data{
  font-family: "Fira Sans", sans-serif;
font-weight: 600;
font-size: 20px;

/* line-height: 32px; */ 
line-height: 160%;
text-align: center;
color: #030a06;
}

.assortment-goods-bag{
  display: flex;
  flex-wrap: wrap;
  gap:40px;
}

.text{
  margin-top: 16px;
  margin-bottom: 16px;
}

.assortment-price{
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
 .assortment{
  padding: 64px 0;
 }
 .assortment-conteiner{
  padding: 0 32px;
 }
 .assortment-goods-bag {
  display: flex;
  flex-wrap: wrap;
  gap: 68px 24px; 
  list-style: none;

}
.assortment-card-bag { 
  text-align: center;
  width: 340px;
  height: 593px;
  min-width: 300px;
}

 .assortment-title{
  padding-bottom: 32px;
 }

 .assortment-title {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 48px;
  
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #030a06;
}
.text{
  width: 340px;
  height: 113px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.assortment-button{
  border: 1px solid #030a06;
border-radius: 6px;
padding: 8px 20px;
width: 340px;
height: 40px;
}
.assortment-button:hover,
.assortment-button:focus{
  background-color: #d7f2db;
  border: 1px solid #030a06;
  transition: 0.3s;
}
.assortment-card-bag img{
  border-radius: 32px;
  width: 340px;
  height: 408px;
  display: block;
}
.assortment-price{
  margin-top: 8px;
}
}

@media screen and (min-width: 1440px) {
  data{
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    
    line-height: 160%;
    text-align: center;
    color: #030a06;
  }
  

  
  .assortment-conteiner {
    padding: 64px 0;
  }
  
  .assortment {
    padding: 0 64px;
    background-color: #ebf8ed;
  }
  
  .assortment-title {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 48px;
    
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #030a06;
  }
  
  
  .assortment-goods-bag {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px; 
    list-style: none;

  }
  
  
  .assortment-card-bag { 
    text-align: center;
    width: 310px;
  }
  
  .text{
    width: 310px;
    height: 113px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .assortment-card-bag p {
    max-width: 310px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
  
    line-height: 160%;
    text-align: center;
    color: #030a06
  }
  
  .assortment-card-title{
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
  
    line-height: 160%;
    text-align: center;
    color: #030a06;
  }
  
  
  .assortment-price{
    margin-top: 8px;
  }
  
  .assortment-card-bag img {
    border-radius: 32px;
    display: block;
  }
  
  
  .assortment-button {
    border: 1px solid #030a06;
    border-radius: 6px;
    padding: 8px 20px;
    width: 100%;
    height: 40px;
    background: transparent;
    cursor: pointer;
  }
  
  .assortment-button:hover,
  .assortment-button:focus {
    background-color: #d7f2db;
    border: 1px solid #030a06;
    transition: 0.3s;
  }
}
