.feedbacks {
    padding: 32px 16px;
    background-color: #ebf8ed;
}

.reviews-title {
    font-family: "Comfortaa", Bold;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #030a06;
    margin-bottom: 32px;
}

.reviews-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    max-width: 1300px;
}
.star {
    margin-bottom: 24px;
}
.star-icon {    
    width: 20px;
    height: 20px;
    fill: #3AC04C;
}

.review-author {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
}

.review-text {
    font-family: "Comfortaa", Bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #030a06;
    margin-bottom: 12px;
}

    .review-author-sergyi,
    .review-author-olena {
        font-family: "Fira Sans", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.6;
        color: #030a06;
    }

/* планшет */
@media screen and (min-width: 768px) {

    .feedbacks {
        padding: 64px 32px;
    }   

    .reviews-list {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .review-text {
        font-size: 20px;
        min-width: 340px;
        margin-bottom: 24px;
    }

    .review-author {
        font-size: 16px;
    }
    
    .reviews-title {
        font-size: 36px;
    }
}

/* десктоп */
@media screen and (min-width: 1440px) {

    .feedbacks {
        padding: 64px 64px;
    }    
    .reviews-list {
        display: flex;
        gap: 24px;
        align-items: first baseline;
        grid-template-columns: none;
    }

    .review-text {
        font-size: 20px;
        margin-bottom: 24px;
        min-width: 300px;
        max-width: 310px;
    }

    .review-author {
        font-size: 16px;
    }
    
    .reviews-title {
        width: 560px;
        font-size: 48px;
        margin: 0 auto;
        margin-bottom: 80px;
    }

    .review-author-sergyi,
    .review-author-olena {
        margin-top: 52px;
        font-family: "Fira Sans", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.6;
        color: #030a06;
    }
}