.feedbacks {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #ebf8ed;
}

.reviews-title {
    font-family: "Comfortaa", Bold;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-scheme-1-text);
    margin-bottom: 32px;
}

.reviews-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    max-width: 1300px;
}

.review-item {
    width: 310px;
    height: 182px;
}

.star-icon {
    margin-bottom: 24px;
    width: 20px;
    height: 20px;
    fill: #3AC04C;
}

.review-author {
    font-family: "fira-sans", SemiBold;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-scheme-1-text);
}

.review-text {
    font-family: "Comfortaa", Bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--color-scheme-1-text);
    margin-bottom: 24px;
}

/* планшет */
@media screen and (min-width: 768px) {
    .reviews-list {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .review-text {
        font-size: 20px;
    }

    .review-author {
        font-size: 16px;
    }
    
    .reviews-title {
        font-size: 36px;
    }
}

/* десктоп */
@media screen and (min-width: 1440px) {
    .reviews-list {
        grid-template-columns: repeat(3, 1fr);
        padding-left: 64px;
        padding-right: 64px;
        display: flex;
    }

    .review-text {
        font-size: 20px;
    }

    .review-author {
        font-size: 16px;
    }
    
    .reviews-title {
        width: 560px;
        height: 116px;
        font-size: 48px;
        margin-left: auto;
        margin-right: auto;
    }
}