.gallery {
  background-color: #ebf8ed;
}

.gallery-htwo {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #030a06;
}

.gallery-p {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #030a06;
}

.gallery-text {
  padding: 32px 0 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container {
  max-width: 320px;
}

.gallery-grid {
  display: grid;
  gap: 16px;
  padding-bottom: 32px;
  grid-template-columns: 1fr;
}

.gallery-img-first img,
.gallery-img-second img,
.gallery-img-third img,
.gallery-img-fourth img {
  border-radius: 32px;
  width: 288px;
  height: 288px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .gallery-img-second img,
  .gallery-img-third img {
    width: 340px;
    height: 700px;
  }
  .gallery-img-first img,
  .gallery-img-fourth img {
    width: 340px;
    height: 340px;
  }

  .gallery-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'a c'
      'b c'
      'b d';
    gap: 24px 26px;
  }

  .gallery-img-first {
    grid-area: a;
  }
  .gallery-img-second {
    grid-area: b;
  }
  .gallery-img-third {
    grid-area: c;
  }
  .gallery-img-fourth {
    grid-area: d;
  }
}

@media screen and (min-width: 1440px) {
  .gallery-text {
    padding-top: 64px;
  }
  .gallery-htwo {
    font-size: 48px;
  }
  .container {
    max-width: 1440px;
  }
  .gallery-img-first img,
  .gallery-img-second img {
    width: 421px;
    height: 421px;
  }
  .gallery-img-third img,
  .gallery-img-fourth img {
    width: 421px;
    height: 865px;
  }
  .gallery-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'a c d'
      'b c d';
    gap: 24px;
    padding-bottom: 64px;
  }
  .gallery-img-first {
    grid-area: a;
  }
  .gallery-img-second {
    grid-area: b;
  }
  .gallery-img-third {
    grid-area: c;
  }
  .gallery-img-fourth {
    grid-area: d;
  }
}
