.gallery-htwo {
    font-family: "Comfortaa", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.01em;
        text-align: center;
        color: #030a06;
}

.gallery-p {
    font-family: "Fira Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.6;
        text-align: center;
        color: #030a06;
}


.gallery-text {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container {
    max-width: 320px;
}

@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
        }
}

@media screen and (min-width: 1440px) {
    .gallery-htwo {
        font-size: 48px;
    }
        .container {
            max-width: 1440px;
        }
}
