.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header-nav,
.header-address {
  display: none;
}
.header {
  background-color: #75d281;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px 12px 8px 20px;
}
.header-logo-svg {
  fill: #030a06;
}
.btn-burger {
  width: 48px;
  height: 48px;
  display: block;
  background: transparent;
  border: none;
  fill: #030a06;
}
/* #menu */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #75d281;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.menu-container {
  display: flex;
  flex-direction: column;
}
.menu-header {
  padding: 8px 12px 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-menu-close {
  border: none;
  width: 48px;
  height: 48px;
  background-color: transparent;
}
.menu-nav {
  padding: 32px 20px;
  margin-bottom: 32px;
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.menu-link {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
  font-style: normal;
}
.menu-address {
  padding: 32px 16px 0px;
}
.menu-list-address {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
/* #endmenu */
@media screen and (min-width: 768px) {
  .header-container {
    padding: 8px 16px 8px 32px;
  }
  .menu-header {
    padding: 8px 16px 8px 32px;
  }
  .menu-nav {
    padding: 32px;
    margin-bottom: 0;
  }
  .menu-address {
    padding: 32px 32px 0px;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    padding: 12.3px 64px;
  }
  .header-logo-svg {
    width: 106px;
    height: 45px;
  }
  .header-list {
    display: flex;
    align-items: center;
    gap: 32px;
    cursor: pointer;
  }
  .header-nav {
    display: block;
  }
  .header-address {
    display: flex;
  }
  .btn-burger {
    display: none;
  }
  .header-item,
  .header-item-address {
    position: relative;
  }
  .header-link,
  .header-tel-email {
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
    color: #030a06;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-decoration: none;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-link::after,
  .header-tel-email::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: #030a06;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-link:hover::after,
  .header-link:focus::after,
  .header-tel-email:hover::after,
  .header-tel-email:focus::after {
    width: 100%;
  }
  .header-link:active,
  .header-tel-email:active {
    color: #3ac04c;
  }
  .header-item:active .header-link::after,
  .header-tel-email:active::after {
    background-color: #3ac04c;
  }
  .header-list-address {
    display: flex;
    gap: 16px;
  }
}
