.hero {
    padding-top: 64px;
    background-color: #ebf8ed;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-text {
   font-family: "Comfortaa", sans-serif;
   font-weight: 700;
   font-size: 40px;
   line-height: 1.2;
   letter-spacing: 0.01em;
   color: #030a06;
}

.hero-wrapper-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero-desription {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
}

.hero-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #030a06;
    border-radius: 6px;
    width: 288px;
    height: 50px;
    background-color: #030a06;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
}

.hero-img {
    border-radius: 40px;
    padding-top: 24px;
}


@media screen and (min-width: 768px) {
    .hero {
    padding-top: 32px;
   }

    .hero-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        align-items: start;
    }

    .hero-wrapper-text {
       grid-column: 2 / 3;
    }

    .hero-desription {
        font-size: 18px;
    }

    .hero-link {
        width: 148px;
        height: 50px;
    }

    .hero-img {
        padding-top: 20px;
        width: 704px;
        height: 267px;
    }
}



@media screen and (min-width: 1440px) {
    
}
